<mat-card *ngIf="userDetail" class="example-card">
  <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{userDetail.name}}</mat-card-title>

  </mat-card-header>

  <mat-card-content>

      <mat-list>
        <mat-list-item>
          <div matLine>
              Year :
                <button mat-button>{{userDetail.year}}</button>
          </div>
        </mat-list-item>

      <mat-list-item>
        <div matLine>
          Director :
          <button mat-button>{{userDetail.director}}</button>
        </div>
      </mat-list-item>

      </mat-list>

  </mat-card-content>

  <mat-card-actions>

  </mat-card-actions>
</mat-card>
