<div class="logo text-center">
  <img  width="300" src="assets/gymlogo.png"  alt="">  
</div>

<div class="registration-form m-3 p-4">
    <form [formGroup]="registerForm">

      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input  formControlName="name" matInput placeholder="Name">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>            
          </mat-form-field>
        </div>


          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Year</mat-label>
              <input  formControlName="year" matInput placeholder="Year">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </div>

        <div class="col-md-6">  
          <mat-form-field appearance="outline">
            <mat-label>Director</mat-label>
            <input formControlName="director" matInput placeholder="Director">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>            
          </mat-form-field>
        </div>

      </div>
      <button *ngIf="!isUpdateActive" (click)="submit()" class="mt-4" mat-raised-button color="accent">Submit</button>
      <button *ngIf="isUpdateActive"(click)="update()" class="mt-4" mat-raised-button color="accent">Update</button>
    </form>
</div>

